/* Common css section */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
    font-family:sans-serif,Arial, Helvetica, sans-serif;

}

html,
body{
    font-size: 14px;
    font-weight: 400;
    background: black;
    color: #fff;
}

.container{
    width: 400px;
    margin: 0px auto;
    display: table;
}

/* Menu Section */
.logo{
    font-size:40px ;
    font-weight:600 ;
}

.span-col{
    color: #ffbf35;
}

nav{
    float: right;
}

nav a {
    text-decoration:none ;
    font-size:15px ;
    font-weight:500 ;
    margin-left: 20px;
    color: #fff;
}

/* Main banner */
.width-50{
    float:left ;
    width: 50%;
}

.banner-section{
    width:100% ;
    float: left;
    margin-top: 25vh;
}

.banner-section h1{
    font-size: 48px;
    margin-top: 10px;
    font-weight:bolder ;
}

.banner-section h2{
    font-size: 20px;
    margin-top: 10px;
    font-weight:400 ;
    line-height: 25px;
}

.banner-section a{
    float: left;
    text-decoration: none;
    font-size:18px ;
    margin-top:20px ;
    border-radius: 50%;
    text-align: center;
    border: 2px solid #ffbf35;
    color: #ffbf35;
    margin-left: 10px;
    height:50px ;
    width: 50px;
    line-height:50px ;
}

/* Main Banner image */
.main-pannel img{
    margin-top:10% ;
    width:100% ;
    margin-left:10% ;
}

/* Footer section */
.footer{
    background-color: #202020;
    padding: 30px 40 px 0 px;
    width: 100%;
    float: left;
}

.footer-sect{
    color: #b3b3b3;
}
 .footer-sect a {
    color: #b3b3b3;
    margin-left:10px ;
    text-decoration: none;
    font-size:18px ;
    text-align: center;
}

.social-icon a i{
    width: 50px;
    height: 50px;
    border:1px solid #cdcdcd ;
    line-height: 50px;
    font-size: 50px;
    border-radius:50%
}